body {
  background: #000000;
  color: #d3d3d3;
  font-family: "Archivo Black", sans-serif;
}
header {
  height: 200px;
  margin-bottom: 20px;
  background-image: url(https://i.pinimg.com/originals/9d/85/7e/9d857edb7f1ce6173fcc572403215853.gif);
}

.gradient-text {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: 6em;
  text-align: center;
  margin-bottom: 0.2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 605px;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

#not-complete, #complete {
  max-width: 600x;
  margin: auto;
}

#form-input {
  display: flex;
  flex-direction: row;
}

input {
  width: 50em;
}

.result {
  margin-top: 15px;
  list-style-type: none;
}

button, .delete {
  float: right;
  border-radius: 5px;
  margin-left: 5px;
  padding-top: 5px;
  background-color: transparent;
}

